
<div class="footer-padding">
  <div class="footer">
    
  </div>
</div>
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>Made with ❤️ © 2022 Copyright</p>
  </div>
</footer>
</div>
</body>
</html>
