<%- include("partials/header") -%>
<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 p-3">
        <div class="card">
            <img class="card-img-top" src="/image/logo.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-centers"><%=title %></h4>
                <p class="card-text"><%=StartContent %></p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<%- include("partials/footer") -%>